body {
    background-color: rgb(245, 245, 245);
}

.top-input {
    width: 90%;
    height: 4.6rem;
    margin: 1rem auto;
    position: relative;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.top-input>input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    padding-left: 1rem;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.top-input span {
    position: absolute;
}

.top-input span:nth-of-type(1) {
    right: 18%;
    top: 26%;
}

.top-input span:nth-of-type(2) {
    width: 2rem;
    height: 3rem;
    right: 6%;
    top: 25%;
}

.top-input span:nth-of-type(2) img {
    width: 100%;
}

.fenl {
    width: 100%;
    height: 4.8rem;
    line-height: 4.8rem;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.fenl>ul {
    list-style: none;
    display: flex;
    font-size: 2.1rem;
    font-weight: bold;
    justify-content: space-around;
}

.fenl>ul li {
    color: rgb(102, 102, 102);
    position: relative;
}

.fenl>ul>li>span {
    display: inline-block;
    border: 0.5rem solid transparent;
    border-top-color: rgb(204, 204, 204);
    position: absolute;
    right: -1.6rem;
    top: 1.6rem;
}

.list-content {
    width: 100%;
}

.list-content>ul {
    list-style: none;
    width: 90%;
    margin: 0 auto;
}

.list-content li {
    display: flex;
    justify-content: space-between;
    padding: 2.3rem 0;
    border-bottom: 1px solid rgb(255, 138, 0);
}

.list-content li:nth-of-type(3) {
    border-bottom: none;
}

.list-content h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.fl {
    width: 9.5rem;
    height: 9.5rem;
}

.list-content img {
    width: 100%;
}

.fr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 68%;
    height: 10rem;
    overflow: hidden;
    white-space: nowrap;
}

.fr p {
    font-size: 1.4rem;
    color: rgb(176, 176, 176);
}

.fr strong {
    color: rgb(255, 138, 0);
}



.fr span {
    color: black;
    font-size: 1.4rem;
}

.zhezhao {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    display: none;
    z-index: 1;
}

.dj {
    position: fixed;
    top: 0;
    z-index: 2;
}

.sj {
    border-top-color: transparent !important;
    border-bottom-color: rgb(255, 138, 0) !important;
    right: -1.6rem !important;
    top: 1.2rem !important;
}

.ys {
    color: rgb(255, 138, 0) !important;
    background-color: white;
}


.yc {
    width: 100%;
    list-style: none;
    position: fixed;
    top: 4.9rem;
}

.yc-1 {
    width: 100%;
    background-color: white;
    text-align: center;
    display: none;
}

.yca {
    color: orange !important;
    font-weight: bold;
}

.yc-1 div:nth-of-type(1) {
    float: left;
    width: 25%;
    font-size: 1.4rem;
    background-color: rgb(240, 240, 240);
}

.yc-1 div:nth-of-type(2) {
    float: left;
    width: 75%;
}

.yc a {
    color: gray;
    font-size: 1.5rem;
}

.yc-1 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yc-1 ul>li {
    width: 50%;
    font-size: 1.4rem;
    font-weight: 200;
    color: rgb(91, 88, 88);
}

.yc-2 {
    width: 100%;
    background-color: white;
    display: none;
}

.yc-2>ul {
    list-style: none;
    width: 85%;
    margin: 0 auto;
}

.yc-2>ul>li {
    width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.yc-3 {
    width: 100%;
    background-color: white;
    display: none;
}

.xuanz {
    background: url(../image/SecondHandList/ok.png) no-repeat;
}

.yc-3>ul {
    list-style: none;
    width: 100%;
}

.yc-3>ul>li {
    width: 85%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: normal;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.yc-3 span {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(100, 100, 100);
    float: right;
    margin: 1.5rem 1rem 0 0;
}

.btnOK {
    display: block;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: white !important;
    background-color: rgb(255, 138, 0);
    margin-bottom: 2rem;
}

.yc-4 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

.yc-4>.ul- {
    width: 85%;
    margin: 0 auto;
    list-style: none;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.yc-4 h3 {
    font-size: 1.5rem;
}

.childList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.childList>li {
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    width: 21%;
    border: 1px solid rgb(210, 210, 210);
    text-align: center;
}

.clear {
    text-align: center;
    font-size: 1.5rem;
}

.btnOK>a {
    color: white !important;
}

.sec-top {
    width: 100%;
    height: 4rem;
    background-color: white;
    line-height: 4rem;
    padding-left: 5%;
    box-sizing: border-box;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(214, 214, 214);
}


.list-content li {
    display: flex;
    justify-content: space-between;
    padding: 2.3rem 0;
    border-bottom: 1px solid rgb(255, 138, 0) !important;
}

.list-content li:nth-of-type(3) {
    border-bottom: none;
}

.list-content h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.fl-l {
    width: 9.5rem;
    height: 9.5rem;
}

.list-content img {
    width: 100%;
    height: 100%;
}

.fl-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 68%;
    height: 10rem;
    overflow: hidden;
    white-space: nowrap;
}

.jzgn {
    display: inline-block;
    font-size: 1.4rem;
    width: 8rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border: 1px solid rgb(185, 211, 148);
    color: rgb(109, 167, 25);
}

.fl-r p {
    font-size: 1.4rem;
}

.fl-r strong {
    color: rgb(255, 138, 0);
    font-size: 1.5rem;
    float: right;
}

.r-jg {
    font-size: 1.4rem;
}

.r-jg>strong {
    font-size: 1.4rem;
    margin-right: 4.3rem;
}

.brd {
    border-bottom: 1px solid rgb(251, 130, 0) !important;
}
